<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.delideli.dao.CartDao" >
    <insert id = "insertCart">
        INSERT INTO carts(user_id, menu_id, amount)
        VALUES (#{userid}, #{addCartDTO.menuId}, #{addCartDTO.amount})
    </insert>

    <select id="getCartList" resultMap="getCartLists" resultType="flab.delideli.dto.CartlistDTO">
        SELECT carts.cart_id, carts.menu_id, menu_name, menu_price, amount
        FROM carts, menus
        WHERE carts.user_id = #{userId}
          AND menus.menu_id = carts.menu_id
    </select>

    <resultMap id="getCartLists" type="flab.delideli.dto.CartlistDTO">
        <result column="cart_id" property="cartId"></result>
        <result column="menu_id" property="menuId"></result>
        <result column="menu_name" property="menuName"></result>
        <result column="menu_price" property="price"></result>
        <result column="amount" property="amount"></result>
    </resultMap>


    <delete id="deleteCart">
        DELETE FROM carts
        WHERE cart_id = #{cartId}
          AND user_id = #{userId}
    </delete>
</mapper>