<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.delideli.dao.MemberDao" >

<select id="isExistUserInfo" resultType="boolean">
  SELECT IF(COUNT(*) = 1, 1, 0) FROM owners, members
  WHERE (owners.owner_id = #{loginId} AND
  owners.owner_password = #{loginPassword})
  OR (members.userid = #{loginID} AND
  members.password = #{loginPassoword})
</select>

</mapper>