<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.delideli.mapper.MemberMapper">

    <select id="selectMember" resultType="flab.delideli.domain.MemberDTO">
        SELECT user_id, user_name, user_password, user_phone, user_address
        FROM members WHERE id = #{id}
    </select>

    <select id="isDuplicatedUserId" resultType="boolean">
        SELECT IF(COUNT(*) > 0, 1, 0) FROM members
        WHERE user_id = #{userId}
    </select>

    <select id="getId" resultType="Long">
        SELECT id FROM members
        WHERE user_id = #{userId}
    </select>

    <insert id="joinMember">
        INSERT INTO members(user_id, user_name, user_password, user_phone, user_address)
        VALUES (#{userId}, #{userName},
                #{userPassword}, #{userPhone}, #{userAddress})
    </insert>

    <update id="updateMember">
        UPDATE members SET user_address = #{userAddress}
        WHERE id = #{id}
    </update>

    <update id="deleteMember">
        UPDATE members SET delete_flag = 1
        WHERE id = #{id}
    </update>

    <delete id="initDB">
        DELETE FROM members
        WHERE id = #{id}
    </delete>

</mapper>