<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.delideli.dao.MemberDao" >

    <insert id="joinMember" >
        INSERT INTO members (userid , password , username , phone , address)
        VALUES (#{userid} , #{password}, #{username} , #{phone} , #{address})
    </insert>

    <select id="isExistUserId" resultType = "boolean">
       SELECT EXISTS (SELECT 1 FROM members WHERE userid = #{userid})
    </select>

    <select id="findbyUserid" resultType="flab.delideli.dto.MemberDTO">
        SELECT userid, password, username, phone, address
        FROM members
        WHERE userid = #{loginid}
    </select>

    <update id = "updateUser" >
        UPDATE members
        <set>
            <if test="updateDTO.username != null and updateDTO.username != ''">
                members.username = #{updateDTO.username},
            </if>
            <if test="updateDTO.phone != null and updateDTO.phone != ''">
                members.phone = #{updateDTO.phone},
            </if>
            <if test="updateDTO.address != null and updateDTO.address != ''">
                members.address = #{updateDTO.address}
            </if>
        </set>
        WHERE userid = #{userid}
</update>

</mapper>