<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.delideli.dao.MenuDao" >

  <insert id="insertMenu">
    INSERT INTO menus (menu_name, menu_price, shop_id, menu_stock, menu_info, menu_category)
    VALUES (#{menuName}, #{menuPrice},
            (SELECT shop_id FROM shops WHERE shop_name = #{shopName} AND owner_id = #{ownerId}),
            #{menuStock}, #{menuInfo}, #{menuCategory})
  </insert>

</mapper>