<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.delideli.dao.MenuDao" >

    <insert id="insertOrder" useGeneratedKeys="true"
      keyProperty="orders.order_id" parameterType="flab.delideli.dto.OrderDTO">
      INSERT INTO orders (user_id, address, phone_number, payment_method, total_price, request, order_date, shop_id)
      VALUES (#{userId}, #{address}, #{phoneNumber}, #{paymentMethod},
              #{totalPrice}, #{request}, #{orderDate}, #{shopId})
    </insert>
  
    <insert id="insertOrderMenus" parameterType="java.util.List">
      INSERT INTO order_menus (menu_name, menu_price, menu_quantity, order_id)
      VALUES
        <foreach collection="list" item="i" separator=",">
          (#{i.menuName}, #{i.menuPrice}, #{i.menuQuantity}, #{i.orderId})
        </foreach>
    </insert>

</mapper>