<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.delideli.dao.MenuDao" >

  <insert id="insertPayment" parameterType="flab.delideli.dto.OrderDTO">
    INSERT INTO payments (order_id, user_id, pay_type, pay_date, pay_status, amount_paid)
    VALUES (#{orderId}, #{userId}, #{payType}, #{payDate}, #{payStatus}, #{amountPaid})
  </insert>

  <select id="selectPaymentSummary" resultMap="paymentDTO" resultType="flab.delideli.dto.PaymentDTO">
    SELECT order_id, user_id, pay_type, amount_paid, pay_status, pay_date
    FROM payments
    WHERE order_id = #{orderId} AND user_id = #{userId}
  </select>

  <resultMap id="paymentDTO" type="flab.delideli.dto.PaymentDTO">
    <result column="order_id" property="orderId"></result>
    <result column="user_id" property="userId"></result>
    <result column="pay_type" property="paymentType"></result>
    <result column="amount_paid" property="amountPaid"></result>
    <result column="pay_status" property="paymentStatus"></result>
    <result column="pay_date" property="paymentDate"></result>
  </resultMap>

</mapper>