<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.delideli.dao.MenuDao" >

  <insert id="insertPayment" parameterType="flab.delideli.dto.OrderDTO">
    INSERT INTO payments (order_id, user_id, pay_type, pay_date, pay_status, amount_paid)
    VALUES (#{orderId}, #{userId}, #{payType}, #{payDate}, #{payStatus}, #{amountPaid})
  </insert>

</mapper>